@model ClinicManagementSystem.Models.PatientModel
@{
    ViewData["Title"] = "Doctor Details";
}

<!DOCTYPE html>
<html>
<head>
   
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{

            background-image: url('https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=1060&t=st=1688727612~exp=1688728212~hmac=105f48e0024b044be79bd80c9bf543df638d1f2957926d76337b524b38cc0309');
        }
        .form-group label {
            font-weight: bold;
            color: black;
        }

        .form-group {
            color: blue;
        }

        .form-head {
            color: red;
            font-weight: bold;
            font-size: 40px;
        }

        .navbar {
            margin-bottom: 0;
        }

        .sidebar {
            position: fixed;
            top: 70px;
            left: 0;
            width: 60%;
            height: 100%;
            
            padding: 15px;
            border: 2px solid double;
            
        }

        .content {
            margin-left: 30%;
            padding: 15px;
        }

        .doctor-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
            width: 100px;
            height: 100px;
        }

        .rightbar {
           
            padding: 15px;
            position: fixed;
            top: 70px;
            right: 0;
            width: 40%;
            height: 100%;
            background-color: ;
            padding: 15px;
            display:block;
            flex-wrap: wrap;
            justify-content: center;
        }

        .row {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }

        .newcard {
            width:100%;
            height: 320px;
           
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
        }

        .additional-row {
            display: flex;

            justify-content: center;
          
        
        }

        .additional-card {
            width: 200px;
            color:blue;
            height:135px;
            box-shadow: 0 1px 2px grey;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            margin: 0 10px;
            margin-bottom:15px;
            border-radius:10px;
        }
        
       
    </style>
</head>

    

    <div class="container">
        <div class="row">
            <ul class="sidebar col-md-3">
                <ul class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                <div>
                                    <span class="form-head">@Model.PatientFirstName @Model.PatientLastName</span>
                                </div>
                               @* <div class="col-md-4">
                                    <img src="" class="img" alt="Sample Image">
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Age:</label>
                            <span style="display: inline-block;">@Model.Age</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Gender:</label>
                            <span style="display: inline-block;">@Model.Gender</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Phone No:</label>
                            <span style="display: inline-block;">@Model.PhoneNo</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Email:</label>
                            <span style="display: inline-block;">@Model.Email</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Marital Status:</label>
                            <span style="display: inline-block;">@Model.MartialStatus</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Date of Birth:</label>
                            <span style="display: inline-block;">@Model.DateOfBirth</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">City:</label>
                            <span style="display: inline-block;">@Model.City</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">State:</label>
                            <span style="display: inline-block;">@Model.State</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Address:</label>
                            <span style="display: inline-block;">@Model.Address</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Height:</label>
                        <span style="display: inline-block;">@Model.Height Cm</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Weight:</label>
                            <span style="display: inline-block;">@Model.Weight Kg</span>
                        </div>
                        <div class="form-group">
                            <label style="display: inline-block; width: 200px;">Disease Brief:</label>
                            <span style="display: inline-block;">@Model.DiseaseBrief</span>
                        </div>
                    </div>
                    
                 </ul>

        </div>
                   
            
            <div class="rightbar">
                <div class="row">
                    
                    <div class="additional-row">
                        <div class="additional-card">
                            <a href="@Url.Action("PatientAppointments", "Patient", new { Email = Model.Email })">My Appointment</a>

                        </div>
                        <div class="additional-card" onclick ="location.href='@Url.Action("Maintenance", "Home")'">
                                Buy Medicine 

                        </div>

                        <div class="additional-card" onclick ="location.href='@Url.Action("Maintenance", "Home")'">
                                Chat With US
                        </div>
                            
                    </div>

                <div class="card-body d-flex justify-content-center">
                    <button id="editPatientBtn" class="button-color" ">
                        <b>Update Profile</b>
                    </button>
                </div>
                <form id="patientEmailForm" method="post" action="@Url.Action("Patientdetailseditoption", "Patient")">
                    <div id="patientModal" class="modal">
                        <div class="modal-content" style="width:35%; height:200px; margin-top:20%;margin-left:62%;background-color:ghostwhite;">
                            <span class="close" onclick="closeModal()">&times;</span>
                        <h5>Enter Your Email Id</h5>
                            <input type="email" id="patientEmail" name="patientEmail" placeholder="Enter email">
                            <br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <script>
                    var modal = document.getElementById("patientModal");
                    var editPatientBtn = document.getElementById("editPatientBtn");

                    editPatientBtn.addEventListener("click", function () {
                        modal.style.display = "block";
                    });

                    function closeModal() {
                        modal.style.display = "none";
                    }
                </script>



                </div>
           
           

            </div>

    </div>
        
    

</html>
