@model ClinicManagementSystem.Models.PatientModel
@{
    ViewBag.Title = "Welcome to Admin Portal";
}

@if (TempData["AppointMessage"] != null)
{
    <div id="successMessage" class="alert alert-success" style="background-color:aliceblue; color:black; width:30%;margin-left:35%; text-align:center; font-weight:bold;">
        @TempData["AppointMessage"]
    </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                var successMessage = $("#successMessage");
                successMessage.delay(2000).fadeOut(500);
            });
        </script>   
}

<head>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=1060&t=st=1688727612~exp=1688728212~hmac=105f48e0024b044be79bd80c9bf543df638d1f2957926d76337b524b38cc0309');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0;
            padding: 0;
        }

        .button-color {
            background-color: white;
            border: 2px solid grey;
            border-radius: 10px;
            width: 300px;
            height: 80px;
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-header" style="background-color:lightskyblue;  border:8px solid deepskyblue;">
                        <h1>Welcome to Admin Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between mt-4">
            <div class="col-md-4" ">
                <div class="card" style="background-color:lightgreen;  border:8px solid lawngreen;">
                    <div class="card-body  d-flex justify-content-center">
                        <button class="button-color" onclick="location.href='@Url.Action("PatientRegistration", "Home")'">
                            <b>Patient Registration</b>
                        </button>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <button id="editPatientBtn" class="button-color" ">
                            <b>Edit Patient Details</b>
                        </button>
                    </div>
                    <form id="patientEmailForm" method="post" action="@Url.Action("Patientdetailseditoption", "Patient")">
                        <div id="patientModal" class="modal">
                            <div class="modal-content" style="width:86%; height:300px; margin-top:10%;margin-left:7%;background-color:ghostwhite;">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <h5>Enter Patient Email</h5>
                                <input type="email" id="patientEmail" name="patientEmail" placeholder="Enter email">
                                <br><br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        var modal = document.getElementById("patientModal");
                        var editPatientBtn = document.getElementById("editPatientBtn");

                        editPatientBtn.addEventListener("click", function () {
                            modal.style.display = "block";
                        });

                        function closeModal() {
                            modal.style.display = "none";
                        }
                    </script>





                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color:lightgreen;  border:8px solid lawngreen;">
                    <div class="card-body d-flex justify-content-center">
                        <button class=" button-color" onclick="location.href='@Url.Action("GetAllAppointments", "Appointments")'">
                            <b>Appointment Details</b>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="background-color:lightgreen;  border:8px solid lawngreen;">
                    <div class="card-body  d-flex justify-content-center">
                        <button class=" button-color" onclick="location.href='@Url.Action("DoctorRegistration", "Home")'">
                            <b>Doctor Registration</b>
                        </button>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <button id="editDoctorBtn" class="button-color">
                            <b>Edit Doctor Details</b>
                        </button>
                    </div>
                    <form id="doctorEmailForm" method="post" action="@Url.Action("DoctorDetailsEditOption", "Doctor")">
                        <div id="doctorModal" class="modal">
                            <div class="modal-content" style="width:86%; height:300px; margin-top:10%;margin-left:7%;background-color:ghostwhite;">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <h5>Enter Doctor Email</h5>
                                <input type="email" id="doctorEmail" name="doctorEmail" placeholder="Enter email">
                                <br><br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        var doctorModal = document.getElementById("doctorModal");
                        var editDoctorBtn = document.getElementById("editDoctorBtn");

                        editDoctorBtn.addEventListener("click", function () {
                            doctorModal.style.display = "block";
                        });

                        function closeModal() {
                            doctorModal.style.display = "none";
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>