@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
@{
}
@model ClinicManagementSystem.Models.DoctorPortalModel

@{
    ViewBag.Title = "Login Doctor";

}



<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("DoctorLoginPortal", "DoctorPortal", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title"><b>Login</b></div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DoctorEmail,"DoctorEmail")
                        @Html.TextBoxFor(m => m.DoctorEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DoctorEmail, "", new { @class = "text-danger" })
                    </div>
                    @* <div class="form-group">
                @Html.LabelFor(m => m.PatientPhoneNo,"PatientPhoneNo")
                @Html.TextBoxFor(m => m.PatientPhoneNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PatientPhoneNo, "", new { @class = "text-danger" })
                </div>*@


                    <div class="d-grid gap-2 col-4 mx-auto">
                        <input type="submit" name="Profile" class="btn btn-danger" value="DoctorProfile" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
